---
import AnimeCard from '../components/AnimeCard.svelte';

let animes = [];

async function fetchAnimes() {
  const response = await fetch('https://anime-api.seirin.icu/api/anime');
  if (!response.ok) throw new Error(response.statusText);
  animes = await response.json();
}

await fetchAnimes();
---

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Anime List</title>
</head>
<body>
  <main>
    <h1>Favorites Anime List</h1>
    {animes.map((anime) => (
      <AnimeCard key={anime.id} anime={anime} />
    ))}
  </main>
</body>
</html>



